<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>AddBooks</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <h1 align="center">Bookshop Management System</h1>
      <form class="form-signin" action="{{ url_for('customer_order_form') }}" method="post">
        <h2 class="form-signin-heading">Please input OrderForm information</h2>
        <label for="BookID" class="sr-only">BookID</label>
        <input type="text" name="BookID" class="form-control" placeholder="BookID" required autofocus>
        <label for="BookName" class="sr-only">BookName</label>
        <input type="text" name="BookName" class="form-control" placeholder="BookName" required>
        <label for="BookNum" class="sr-only">BookNum</label>
        <input type="number" name="BookNum" class="form-control" placeholder="BookNum" required>
        <!--<label for="BookAuthor" class="sr-only">BookAuthor</label>
        <input type="text" name="BookAuthor" class="form-control" placeholder="BookAuthor" required>
        <label for="Inventory" class="sr-only">Inventory</label>
        <input type="text" name="Inventory" class="form-control" placeholder="Inventory" required>
        <label for="SaleNum" class="sr-only">SaleNum</label>
        <input type="text" name="SaleNum" class="form-control" placeholder="SaleNum" required>-->
        <label for="Name" class="sr-only">Name</label>
        <input type="text" name="Name" class="form-control" placeholder="Name" required>
        <label for="phone_number" class="sr-only">Phone Number</label>
        <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" required>
        <label for="Address" class="sr-only">Address</label>
        <input name="Address" class="form-control" placeholder="Address" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
